<nav class="navbar navbar-expand-lg navbar-white bg-blue" id="navbar">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/Dashboard">Dashboard</a>
            <a class="navbar-brand" href="/Login">Login</a>
            <a class="navbar-brand" href="/">Logout</a>
</nav>
