
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Handlebars</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    
  </head>
<body>

{{>topbar}}

{{{ body }}}

{{>footer}}


<script src="/javascript/login.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/signup.js"></script>



</body>
</html>
