<form class="login-form">
    <h2>Login Here:</h2>
    <div>
        <label for="username-login">username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
        <a href='/sign-up'>Sign Up</a>
    </div>
</form>

<script src="/javascript/login.js"></script>